<%= link_to 'Home', home_index_path %>
<p/>
<h1>Listing license_types</h1>

<table>
  <tr>
    <th>License code</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @license_types.each do |license_type| %>
  <tr>
    <td><%= html_escape(license_type.license_code) %></td>
    <td><%= html_escape(license_type.description) %></td>
    <td><%= link_to 'Show', license_type %></td>
    <td><%= link_to 'Edit', edit_license_type_path(license_type) %></td>
    <td><%= link_to 'Destroy', license_type, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New License type', new_license_type_path %>
