<%= link_to 'Home', home_index_path %>
<p/>
<p id="notice"><%= notice %></p>

<p>
  <b>License code:</b>
  <%= html_escape(@license_type.license_code) %>
</p>

<p>
  <b>Description:</b>
  <%= html_escape(@license_type.description) %>
</p>


<%= link_to 'Edit', edit_license_type_path(@license_type) %> |
<%= link_to 'Back', license_types_path %>
