<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>

    <p>
      My Username : <%= html_escape(@user.username) %>
    </p>
    <p>
      I want to bid your liquor license : <%= html_escape(@liquor_license.title) %>
    </p>
    <p>
      Price : <%= @price %>$
    </p>
    <p>
      <%= @message %>
    </p>
    <p>
      Best Regards
    </p 
    <% if @user.user_detail  %>
      <% if @user.user_detail.real_name  %>
        <p>
          <%= html_escape(@user.user_detail.real_name)  %>
        </p>
      <% end %>
    <% end %>
  </body>
</html>