<h1>Listing criterias</h1>

<table>
  <tr>
    <th>State</th>
    <th>City</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @criterias.each do |criteria| %>
  <tr>
    <td><%= criteria.state %></td>
    <td><%= criteria.city %></td>
    <td><%= link_to 'Show', criteria %></td>
    <td><%= link_to 'Edit', edit_criteria_path(criteria) %></td>
    <td><%= link_to 'Destroy', criteria, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Criteria', new_criteria_path %>
