<h1>Listing liquor_license_auctions</h1>

<table>
  <tr>
    <th>Price</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @liquor_license_auctions.each do |liquor_license_auction| %>
  <tr>
    <td><%= liquor_license_auction.price %></td>
    <td><%= link_to 'Show', liquor_license_auction %></td>
    <td><%= link_to 'Edit', edit_liquor_license_auction_path(liquor_license_auction) %></td>
    <td><%= link_to 'Destroy', liquor_license_auction, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Liquor license auction', new_liquor_license_auction_path %>
