
<%= link_to 'Home', home_index_path %>
<p/>
<h1>My Auction</h1>

<table>
  <tr>
    <th>Title</th>
    <th>State</th>
    <th>City</th>
    <th>License Type</th>
    <th>Price</th>
    <th>Expiration Date</th>
    <th></th>
  </tr>


  <% @liquor_license_auctions.each do |liquor_license_auction| %>
    <tr>
      <td><%= LiquorLicense.find(liquor_license_auction.liquor_license_id).title %></td>
      <td><%= LiquorLicense.find(liquor_license_auction.liquor_license_id).state_id ? GeoinfoState.find(LiquorLicense.find(liquor_license_auction.liquor_license_id).state_id).name : '' %></td>
      <td><%= LiquorLicense.find(liquor_license_auction.liquor_license_id).city_id ? GeoinfoCity.find(LiquorLicense.find(liquor_license_auction.liquor_license_id).city_id).name : '' %></td>
      <td><%= LiquorLicense.find(liquor_license_auction.liquor_license_id).license_type ?  LiquorLicense.find(liquor_license_auction.liquor_license_id).license_type.license_code + '-' + LiquorLicense.find(liquor_license_auction.liquor_license_id).license_type.description : ''%></td>
      <td> $ <%= liquor_license_auction.price %> <td/>
      <td><%= LiquorLicense.find(liquor_license_auction.liquor_license_id).expiration_date %></td>
      <td>
        <% if liquor_license_auction.status == true %>
          <form action="https://www.escrow.com/ecart/StartTransaction.asp" method="post">
            <input name="pid" value="6079" type="hidden">
            <input name="item" value="liquor license" type="hidden">
            <input name="desc" value="liquor license" type="hidden">
            <input name="qty" value="1" type="hidden">
            <input name="price" value="<%= liquor_license_auction.price %>" type="hidden">
            <input name="ship" value="0" type="hidden">
            <input name="type" value="GM" type="hidden">
            <input name="submit" value="Buy It Now" type="submit">
            </form>
          <% end %>
          </td>
          </tr>
        <% end %>
        </table>
        <%= will_paginate @liquor_license_auctions %>

        <br />
        <%= submit_tag("Search") %>

