<%= link_to 'Home', home_index_path %>
<p/>
<h1>Listing My Liquor Licenses</h1>

<table>
  <tr>
    <th>Title</th>
    <th>State</th>
    <th>City</th>
    <th>Price</th>
    <th>Expiration date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @liquor_licenses.each do |liquor_license| %>
    <tr>
      <td><%= html_escape(liquor_license.title) %></td>
        <td><%= GeoinfoState.find(liquor_license.state_id).name %></td>
        <td><%= liquor_license.city_id ? GeoinfoCity.find(liquor_license.city_id).name : '' %></td>
      <td><%= liquor_license.price != 0 ? liquor_license.price  : '' %> <%=  liquor_license.price != 0 ? '$':'' %></td>
      <td><%= liquor_license.expiration_date %></td>
      <td><%= link_to 'Show', liquor_license %></td>
      <td><%= link_to 'Edit', edit_liquor_license_path(liquor_license) %></td>
      <td><a href="liquor_licenses/delete_record/<%=  liquor_license.id %>" onclick="return confirm('Are you sure');" >Destroy</a> </td>
    </tr>
  <% end %>
</table>
  <%= will_paginate @liquor_licenses %>
<br />

<%= link_to 'New Liquor license', new_liquor_license_path %>
