<%= link_to 'Home', home_index_path %>
<p/>
<%= form_for :auction do |f| %>
<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= html_escape(@liquor_license.title) %>
</p>
<p>
  <b>License Type:</b>
  <%= @liquor_license.license_type ? @liquor_license.license_type.license_code + '-' + @liquor_license.license_type.description : '' %>
</p>
<p>
  <b>State:</b>
  <%= @liquor_license.state_id ?  GeoinfoState.find(@liquor_license.state_id).name : '' %>
</p>

<p>
  <b>City:</b>
  <%= @liquor_license.city_id ? GeoinfoCity.find(@liquor_license.city_id).name : ''  %>
</p>


<p>
  <b>Price:</b>
  <%= @liquor_license.price %>
</p>

<p>
  <b>Expiration date:</b>
  <%= @liquor_license.expiration_date %>
</p>
<p>
  <%= f.text_field :bid , :value => @liquor_license_auction ? @liquor_license_auction.price : ''%>
   <%= f.submit 'Place Bid' %>
</p>
<p>
  <b>My Message:</b><br/>
    <%= f.text_area :message, :size => "23x12" %>
</p>
<% end %>
		


<%= link_to 'Back', url_for(:back) %>
